@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

q{
	font-style: italic;
}

section{
	break-after: page;
}

table{
	font-variant-numeric: tabular-nums;
	margin: 1em auto;
}

/* non-English blockquotes */
blockquote[xml|lang]{
	font-style: italic;
}

blockquote[xml|lang] em,
blockquote[xml|lang] i,
blockquote[xml|lang] strong{
	font-style: normal;
}
/* end of non-English blockquotes */

/* non-English quotes with emphasis in them */
[xml|lang] > em,
[xml|lang] > strong{
	font-style: normal;
}

/* location-specific */
#preface-1 hr + p{
	text-align: center;
	margin-bottom: 1em;
}

#preface-2 .authlocation{
	margin-bottom: 1em;
	margin-top: .5em;
}

#note-2-62 table td:nth-child(2),
#note-49-981 table td:first-child{
	text-align: right;
}

#note-10-1581 table th{
	font-weight: normal;
	padding-right: 1em;
	text-align: center;
}

#note-10-1581 table > thead > tr:last-of-type{
	font-size: 85%;
}

#chapter-43 hr + p{
	margin-bottom: 1em;
}

#note-49-981 table td:nth-child(2){
	text-align: center;
}

#note-58-41 table{
	border-collapse: collapse;
}

#note-58-41 table, th, td{
	border: 1px solid;
}
/* end of location-specific */

/* SE standard CSS */
/* bridgeheads */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

[epub|type~="z3998:verse"] [epub|type~="bridgehead"]{
	text-align: justify;
}
/* end bridgeheads */

/* verse/song/poetry */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

p span.i4{
	text-indent: -1em;
	padding-left: 5em;
}

p span.i6{
	text-indent: -1em;
	padding-left: 7em;
}

p span.i8{
	text-indent: -1em;
	padding-left: 9em;
}
/* end verse/song/poetry */

/* vertical elision in verse */
span.elision{
	margin: .5em;
	margin-left: 3em;
}
/* end of vertical elision in verse */
