@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

abbr.era{
	font-variant: all-small-caps;
}

body [xml|lang]{
	font-style: italic;
}

[xml|lang] em{
    font-style: normal;
}

blockquote cite{
    font-style: normal;
    text-align: right;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

table{
    margin: 1em auto;
}

table td:nth-child(2){
    text-align: right;
}

/* bridgeheads */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}
/* end bridgeheads */

/* verse/song/poetry */
[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

p span.i4{
	text-indent: -1em;
	padding-left: 5em;
}
/* end verse/song/poetry */

/* vertical elision in verse */
span.elision{
	margin: .5em;
	margin-left: 3em;
}
/* end of vertical elision in verse */
